/*---------------
    Google fonts
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*-----------------
    Common styles
-------------------*/
body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 0;
    margin-right: 0;
}
.section-area{
    margin-bottom: 34px;
}
h1{
    font-size: 35px;
    font-weight: 700;
}
p{
    font-size: 18px;
}
/*----------------------
    Header area styles
------------------------*/
.header{
    display: flex;
    justify-content: center;
}
.header-area{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    background-color: #161616;
}
.header-area-h1{
    font-size: 50px;
}
.header-area-text{
    color: white;
    padding-left: 60px;
}
.header-area-button{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    background-color: #DD0000;
}
.fa-caret-right{
    padding-left: 10px;
}
/* transition */
.header-area-image{
    padding-left: 80px;
    padding-top: 80px;
    position: relative;
    display: inline-block;
}
.banner-image{
    width: 50%;
    position: absolute;
    bottom: 0;
    transition: all linear .2s;
    opacity: 0;
}
.ronaldo{
    position: absolute;
    top: 10;
    left: 0;
    opacity: 1;
    transition: all linear .2s;
}
.header:hover .ronaldo{
    opacity: 0;
}
.header:hover .banner-image{
    opacity: 1;
}
/*------------------- 
    Main area styles
---------------------*/
.side-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    background-color: #0b0b0b;
    padding: 15px;
    width: 210px;
    height: 200px;
    border-radius: 10px;
    margin:150px 15px 0px 0px;
}
.side-area-buttons{
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.highlighted{
    background-color: #DD0000;
    color: white;
}
/* Blog area styles */
main{
    display: flex;
    justify-content: center;
    width: 1300px;
}
.second-section{
    display: flex;
    justify-content: center;
}
.articles-area{
    width: 100%;
    margin: 150px 0 150px 0;
    border-radius: 20px;
}
.art{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    width: 730px;
}
.single-blog{
    border: 2px solid #424242;
    border-radius: 7px;
    width: 230px;
    padding: 10px;
    margin-bottom: 10px;
}
.blog-image{
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
}
.transfer-button{
    border: 2px solid #1616168c;
    width: 65px;
    padding: 7px 15px;
    margin: 10px 0 2px 15px;
}
.blog-area-h2{
    margin-left: 15px;
    font-size: 12px;
    width: 90%;
}
.fa-clock{
    margin: 0 15px;
}
.fa-comment-dots{
    margin: 0 7px 0 38px;
}

/* Footer  */

footer{
    background-color: #161616;
    height: 250px;
}
.footer-area-h1{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 25px;
}
hr{
    width: 1300px;
    border: 2px solid #0b0b0b;
}
.nav-area{
    display: flex;
    justify-content: center;
}
nav{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    margin-top: 20px;
}
/* Footer  */

/*----------------- 
    Media Queries
-------------------*/
/* Mobile responsiveness */
@media screen and (max-width:688px) {
    body{
        margin-bottom: 0px;
     }
     .section-area{
        width: 100%;
     }
     .header{
        width: 100%;
    }

     .header-area{
        width: 95%;
        display: flex;
        flex-direction: column;align-items: center;
     }
     .header-area-text{
        width: 70%;
        text-align: center;
        margin-top: 40px;
        padding: 0;
     }
     .header-area-h1{
        margin: 0;
        padding: 0;
     }
     .header-area-image{
        margin-top: 30px;
        padding: 0;
        width: 75%;
     }
     .ronaldo{
        display: none;
     }
     .banner-image{
        position: static;
        width: 90%;
        opacity: 1;
     }
     main{
        display: block;
        width: 100%;
     }
     .second-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .side-area{
        margin: 0px;
     }
     .articles-area{
        width: 100%;
        margin-top: 75px;
     }
     .art{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 0px;
     }
     .single-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 10px 0px;
        border-radius: 15px;
        width: 75%;
     }
     .blog-image-parent{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .blog-image{
        width: 90%;
        margin: 15px 0px 0px 0px;
     }
     footer{
        width: 100%;
        height: 100%;
     }
     hr{
        width: 95%;
     }
     nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        margin-bottom: 25px;
     }
     .fa-brands{
        font-size: 26px;
        color: white;
     }
     .view-all-button{
        display: none;
     }
    }  